*{
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    display: flex;
    min-height: 120vh;
    background-color: white;
    justify-content: center;
    align-items: center;  
}

.container .box{
    display: flex;
    flex-direction: row;
    outline: none;
    border-radius: 30px;
    box-shadow: 20px 0px 50px 10px rgba(0, 0, 0, 0.05);
}
.container .box .left{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    color: hsl(241, 100%, 89%);
    min-width: 48%;
    min-height: 350px;
    background: rgb(46,43,233);
    background: linear-gradient(0deg, rgba(46,43,233,1) 45%, rgba(115,106,255,1) 100%);
    border-radius: 30px;
}
.box .left .result{
    margin-bottom: 10px;
}
.box .left .circle{
    background: rgb(46,43,233);
    background: linear-gradient(0deg, rgba(46,43,233,1) 70%, rgba(78,33,202,0.9) 95%);
    margin: 10px 0 30px 0;
    height: 125px;
    width: 125px;
    background-color: white;
    border-radius: 50%;
}
.box .left .circle h1{
    padding-top: 25px;
    font-size: 3rem;
}
.box .left .circle p{
    font-size: 0.8rem;
}
.box .left h1, .box .left h2{
    color: white;
}
.box .left h2{
    font-size: 1.5rem;
    padding-bottom: 15px;
}
.box .left .rec{
    max-width: 70%;
}


.box .right{
    display: flex;
    flex-direction: column;
    min-width: 48%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.box .right .rec{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    min-width: 80%;
    min-height: 50px;
    margin-bottom: 10px;
}
.box .right h2{
    font-size: 1.3rem;
    padding-bottom: 20px;
    padding-left: 30px;
    align-self: flex-start;
}
.box .right .rec .category{
    padding-left: 10px;
}
.box .right .rec img{
    margin-right: 10px;
    transform: translateY(-2px);
}
.box .right .rec .marks{
    padding-right: 10px;
    color: grey;
}
.box .right .rec-1{
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 58%, 95%);
}
.box .right .rec-2{
    color: hsl(39, 100%, 56%);
    background-color: hsl(39, 100%, 95%);
}
.box .right .rec-3{
    color: hsl(166, 100%, 37%);
    background-color: hsl(166, 100%, 95%);
}
.box .right .rec-4{
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 90%);
}
.box .right .rec .bold{
    font-weight: bolder;
    color: hsl(224, 30%, 27%);
    padding-right: 5px;
}
.box .right button{
    min-width: 80%;
    min-height: 45px;
    color: hsl(241, 100%, 89%);
    background-color: hsl(224, 30%, 27%);
    border-radius: 40px;
    border: none;
    outline: none;
    margin-top: 20px;
}

@media(max-width:375px){
    .container .box{
        flex-direction: column;
        min-width: 90%;
    }
}
