@use 'sass:math';
@mixin centralise-col($bg-color) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $bg-color;
}

.card {
  display: flex;
  border: $base-border-thickness solid #ddd;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;

  h1, h2, h3 {
    color: $secondary;
    font-weight: 600;
    margin-bottom: $base-margin;
  }
  p {
    color: $primary;
    font-weight: 400;
  }

  .score-display {
    padding: $base-padding*2;
  }
  .card-title {
    font-size: $base-font-size;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $base-font-size;

    a {
      text-decoration: underline;
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  padding: 0;
}

.score-display {
  @include centralise-col($background);
}
.scores {
  border-radius: 50%;
  background: $circle-background;
  @include centralise-col($circle-background);
  width: $base-padding*9;
  height: $base-padding*9;
  
  h1 {
    font-size: $base-font-size*3;
  }
}


.summary{
  padding: $base-padding;
  
  .bar {
    padding: $base-padding*0.75;
    border-radius: $base-border-radius;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin-bottom: $base-margin;
    min-width: 100%;

    .title {
      color: $button-color;
    }

    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 500;
      width:auto;
      text-wrap: nowrap;

      &:first-child {
        margin-right: auto;
      }

      img {
        margin-right: $base-margin*0.5;
        width: $base-font-size*2;
      }
      span {
        font-weight: 600;
      }
    }
    
  }

  h2 {
    color: $button-color;
    font-size: $base-font-size*1.1;
  }
}


// @debug math.div(10, 3);
// @debug math.$pi;
// @debug math.floor(2.6);
// @debug math.max(1px, 20px, 15px, 12px);